GOOGLE_CLOUD_PROJECT=secure-gcp-deployment-fleet
GOOGLE_CLOUD_LOCATION=asia-south1
GOOGLE_GENAI_USE_VERTEXAI=TRUE

SECURE_FLEET_ENV=development

ARTIFACT_REGISTRY_REPOSITORY=secure-fleet

CLOUD_RUN_REGION=asia-south1